[submodule "wrapper/--name"]
	path = wrapper/--name
	url = https://github.com/lewes6369/tensorRTWrapper.git
	branch = master
[submodule "wrapper/tensorRTWrapper"]
	path = wrapper/tensorRTWrapper
	url = https://github.com/lewes6369/tensorRTWrapper.git
[submodule "tensorRTWrapper"]
	path = tensorRTWrapper
	url = https://github.com/lewes6369/tensorRTWrapper.git
